<!-- about section -->
<div>
  <h2 class="section-title">About ACA</h2>
  <p>Association for Computing Activities (ACA) is the Computer Science society of IIT Kanpur.</p>

  <h4>Our Aims</h4>

  <ul>
    <li>To spread knowledge about Computer Science and technology.</li>
    <li>To encourage students to get involved in extra-curricular engineering projects.</li>
    <li>To provide computing resources and guidance to students.</li>
    <li>To promote student-student and student-teacher interaction.</li>
  </ul>

  <p>ACA organizes departmental activities right from freshers&rsquo; to farewell in addition to several
    programming competitions and lectures.</p>

  <p>Don&rsquo;t forget to follow us on Facebook !</p>
  <!-- <a href="about.html" class="btn btn-outline-primary">Learn more</a> -->
</div>