<div class="row justify-content-center">
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/cp_1.jpg" height = "250" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <a href="blog-single.html">
          <h4 class="card-title">COMPETITIVE PROGRAMMING</h4>
        </a>
        <p class="card-text">ACA introduces the freshers to the vast world of Competitive Programming. Projects related to Data Structures and Algorithms are also offered.</p>
        <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/ml_1.jpg"  height = "250" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <a href="blog-single.html">
          <h4 class="card-title">Machine Learning</h4>
        </a>
        <p class="card-text">ACA offers introductory and intermediate projects related to Machine Learning. In the past, we have offered projects
          in different subdomains of ML such as Reinforcement Learning, Deep Learning.
        </p>
        <!-- <a href="#" class="btn btn-primary btn-sm">See All</a> -->
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blockchain_1.jpg"  height = "250" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <a href="blog-single.html">
          <h4 class="card-title">Blockchains</h4>
        </a>
        <p class="card-text">ACA offers introductory projects related to Blockchains and their applications such as Cryptocurrency, and other operations demanding safe and secure transactions</p>
        <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
      </div>
    </div>
  </article>
</div>