
<div class="row d-flex justify-content-center justify-content-between container mr-1 ml-1">
  <!-- <div class="border-top border-primary d-none d-block"> -->
    <!-- event -->
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
        <div class="card-date">
          <span>8</span><br>
          November
        </div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-time text-primary icon-sm mr-2"></i>4:00 pm <br>
        <i class="ti-location-pin text-primary mr-2"></i>RM101, IIT Kanpur</p>
        <a href="event-single.html"><h4 class="card-title">Happy Hour</h4></a>
      </div>
  </div>
  <!-- event -->
  <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
        <div class="card-date"><span>21</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-time text-primary icon-sm mr-2"></i>5:00pm <br>
        <i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Department discussion</h4></a>
      </div>
  </div>
  <!-- event -->
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
        <div class="card-date"><span>23</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-time text-primary icon-sm mr-2"></i>5:00pm <br>
        <i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Summer of code</h4></a>
      </div>
    </div>
<!-- </div> -->
</div>