<div class="row">
  <div id="post-content">
    <span itemprop="articleBody">

      <ul>
        <li>
          <p>Farewell for the graduating batch was held on April 12th, 2015.</p>
        </li>

        <li>
          <p>CSE Cricket and Football Tournament</p>
        </li>

        <li>
          <p>CSE Trivia Quiz on CSE-IITK History</p>
        </li>

        <li>
          <p>Semester Projects for first year students.</p>
        </li>

        <li>
          <p>Departmental trip to Nainital from 23rd Jan to 26th Jan 2015.</p>
        </li>

        <li>
          <p>Microsoft Code.fun.do</p>
        </li>

        <li>
          <p>Happy Hour October’14 and November’14</p>
        </li>

        <li>
          <p>Freshers for Y14 Batch of CSE</p>
        </li>

        <li>
          <p>League of Programmers Lecture Series for ACM ICPC 2014</p>
        </li>

        <li>
          <p>ACA organized summer school in June-July 2014. More information</p>
        </li>

        <li>
          <p>Farewell for the graduating batch was held on April 12th, 2014.</p>
        </li>

        <li>
          <p>Microsoft Appathon</p>
        </li>

        <li>
          <p>Semester Projects given to CSE students of first year (batch Y12)</p>
        </li>

        <li>
          <p>ACM-ICPC Training Camp (21-28th October 2012)</p>
        </li>
      </ul>
    </span>
  </div>
</div>