<!-- teachers -->

<!-- /teachers -->
<section class="section mb-10" id="contacts">
  <div class="container">
    <div class="col-12">
      <h2 class="section-title">Our Team</h2>
    </div>

    <ul class="nav nav-fill nav-pills flex-column flex-sm-row justify-content-center mb-10" id="myTab" role="tablist">
      <li class="nav-item p-5" role="presentation">
        <button class=" nav-link active" id="cordi-tab" data-bs-toggle="tab" data-bs-target="#cordi" type="button" role="tab" aria-controls="cordi" aria-selected="true">Coordinators</button>
      </li>
      <li class="nav-item p-5" role="presentation">
        <button class="nav-link" id="secy-tab" data-bs-toggle="tab" data-bs-target="#secy" type="button" role="tab" aria-controls="secy" aria-selected="false">Secretaries</button>
      </li>
      
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="cordi" role="tabpanel" aria-labelledby="cordi-tab">
        <div class="container">
          <div class="row justify-content-center">
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/anchal_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Anchal Gupta</h4>
                  </a>
                  <p>UG Coordinator</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: anchalgu@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/aryan_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Aryan Mundada</h4>
                  </a>
                  <p>UG Coordinator</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: rnmundra@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/dinesh_2.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Dinesh Ram</h4>
                  </a>
                  <p>UG Coordinator</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: dram@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/shivamshree_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Shivamshree Gupta</h4>
                  </a>
                  <p>UG Coordinator</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: shvmshri@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/avideep_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Avideep Mukherjee</h4>
                  </a>
                  <p>PG Coordinator</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: avideep@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="secy" role="tabpanel" aria-labelledby="secy-tab">
        <div class="container">
          <div class="row justify-content-center">
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/ananya_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Ananya Agrawal</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: ananya20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/archie_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Archie</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: aarchi20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/hitesh_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Hitesh Anand</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: ahitesh20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/naman_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Naman Singla</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: nsingla20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/nishant_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Nishant Roshan</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: nishantr20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0" src="images/priyanka_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Priyanka Meena</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="https://facebook.com/themefisher"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              <div class="card border-dark rounded-2 mb-2 hover-shadow">
                <img class="card-img-top rounded-0 " src="images/saurav_1.jpg" alt="teacher" width = "100" height="350">
                <div class="card-body">
                  <a href="teacher-single.html">
                    <h4 class="card-title">Saurav Kumar</h4>
                  </a>
                  <p>UG Secretary</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="mailto: sauravkr20@iitk.ac.in"><i class="ti-email"></i></a></li>
                    <!-- <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
    </div>
  </div>
</section>