<!-- teachers -->
<section class="section mb-10">
  <div class="container">
    <div class="col-12">
      <h2 class="section-title">Our Team</h2>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Coordinators
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container">
              <div class="row justify-content-center">
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/anchal_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Anchal Gupta</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/aryan_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Aryan Mundada</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/dinesh_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Dinesh Ram</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/shivamshree_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Shivamshree Gupta</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/avideep_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Avideep Mukherjee</h4>
                      </a>
                      <p>PG Coordinator</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Secretaries
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container">
              <div class="row justify-content-center">
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/anchal_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Anchal Gupta</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/aryan_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Aryan Mundada</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/dinesh_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Dinesh Ram</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/shivamshree_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Shivamshree Gupta</h4>
                      </a>
                      <p>UG Coordinator</p>
                    </div>
                  </div>
                </div>
                <!-- teacher -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                  <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/avideep_1.jpg" alt="teacher" width = "100" height="250">
                    <div class="card-body">
                      <a href="teacher-single.html">
                        <h4 class="card-title">Avideep Mukherjee</h4>
                      </a>
                      <p>PG Coordinator</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->